
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Developed by <a href="http://mastragostino.me" target="_blank">Emiliano Mastragostino</a></p>
  </div>
</footer>

</body>
</html>
