<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/stylesheets/blog.css" rel="stylesheet">
  </head>

  <body>

    <div class="container"> <!-- INITIAL container -->
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-12 text-center">
            <a class="blog-header-logo text-dark" href="/">Emilio's Blog</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/">Home</a>
          <a class="p-2 text-muted" href="/posts/add">Add Post</a>
          <a class="p-2 text-muted" href="/categories/add">Add Category</a>
        </nav>
      </div>

      <!-- flash messages -->
      <ul class="messages">
        <% if (dangerMessages) { dangerMessages.forEach(function(message) { %>
          <li class="alert alert-danger"><%= message.msg %></li>
        <% });} else if (successMessages) { dangerMessages.forEach(function(message) { %>
          <li class="alert alert-success"><%= message.success %></li>
        <% });} %>
      </ul>

    </div> <!-- END INITIAL container -->
